@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

label,
input {
  display: block;
  margin: 1vh 0;
}

li {
  margin: 2vh 0;
}

a {
  display: block;
  max-width: fit-content;
}
